In [1]:
import pandas as pd
from tqdm import tqdm_notebook as tqdm
import numpy as np

In [2]:
avals = pd.read_csv('/home/NETID/lundvm/data/tR_1.0--fE_0.90/allAvalanche.csv')
bursts = pd.read_csv('/home/NETID/lundvm/data/tR_1.0--fE_0.90/allAvalBurst.csv')

In [3]:
avals['WithinBurst'] = 0
avals.head()

   ID  StartRow  EndRow    StartT      EndT  Width  TotalSpikes  WithinBurst
0   1         3       6  96709741  96709749      9            5            0
1   2        10      13  96709762  96709773     12            6            0
2   3        16      18  96709779  96709787      9            3            0
3   4        19      23  96709790  96709795      6            7            0
4   5        24      29  96709799  96709805      7            9            0

In [4]:
bursts.head()

   ID  StartRow  EndRow    StartT      EndT  Width  TotalSpikes     IBI
0   1       898    4715  96710760  96714577   3818        36099    1051
1   2      6552    9146  97005292  97007886   2595        31500  290715
2   3      9627   11321  97103272  97104966   1695        32318   95386
3   4     12167   14682  97612380  97614895   2516        29529  507414
4   5     15314   17850  97871054  97873590   2537        31009  256159

In [ ]:
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['StartT'] >= burst_end_time) & (avals['StartT'] <= burst_end_time + 1000), 'WithinBurst'] = 2
    avals.loc[(avals['EndT'] <= burst_start_time) & (avals['EndT'] >= burst_start_time - 1000), 'WithinBurst'] = 1
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 3

In [ ]:
nonburst_avals_1000 = avals[avals['WithinBurst'] == 0]
nonburst_avals_1000.shape

In [5]:
avals['WithinBurst'] = 0
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['StartT'] >= burst_end_time) & (avals['StartT'] <= burst_end_time + 450), 'WithinBurst'] = 2
    avals.loc[(avals['EndT'] <= burst_start_time) & (avals['EndT'] >= burst_start_time - 450), 'WithinBurst'] = 1
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 3

HBox(children=(IntProgress(value=0, max=9729), HTML(value='')))

In [6]:
nonburst_avals_450 = avals[avals['WithinBurst'] == 0]
nonburst_avals_450.shape

(454, 8)

In [ ]:
avals['WithinBurst'] = 0
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['StartT'] >= burst_end_time) & (avals['StartT'] <= burst_end_time + 1500), 'WithinBurst'] = 2
    avals.loc[(avals['EndT'] <= burst_start_time) & (avals['EndT'] >= burst_start_time - 1500), 'WithinBurst'] = 1
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 3

In [ ]:
nonburst_avals_1500 = avals[avals['WithinBurst'] == 0]
nonburst_avals_1500.shape

In [ ]:
avals['WithinBurst'] = 0
for index, row in tqdm(bursts.iterrows(), total=bursts.shape[0]):
    burst_start_time = row['StartT']
    burst_end_time = row['EndT']
    avals.loc[(avals['EndT'] == burst_end_time) & (avals['StartT'] == burst_start_time), 'WithinBurst'] = 1

In [ ]:
nonburst_avals_all = avals[avals['WithinBurst'] == 0]
nonburst_avals_all.shape